<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta property="og:description" content="{% if doc.description %}{{doc.description}} – {% endif %}AMP Project" />
    <meta name="description" content="{% if doc.description %}{{doc.description}} – {% endif %}AMP Project" />
    <link rel="icon" href="/static/img/amp_favicon.png" />
    <link rel="canonical" href="{{doc.url}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" rel="stylesheet" />
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        }
        
        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden;
            }
            to {
                visibility: visible;
            }
        }
        
        @-moz-keyframes -amp-start {
            from {
                visibility: hidden;
            }
            to {
                visibility: visible;
            }
        }
        
        @-ms-keyframes -amp-start {
            from {
                visibility: hidden;
            }
            to {
                visibility: visible;
            }
        }
        
        @-o-keyframes -amp-start {
            from {
                visibility: hidden;
            }
            to {
                visibility: visible;
            }
        }
        
        @keyframes -amp-start {
            from {
                visibility: hidden;
            }
            to {
                visibility: visible;
            }
        }
    </style>
    <noscript>
         <style amp-boilerplate>
            body {
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            animation: none;
            }
         </style>
      </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="CSS/style.css" />
    <title>Threadbeast Email</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!--[if (mso 16)]>
      <style type="text/css">
         a {
         text-decoration: none;
         }
      </style>
      <![endif]-->
    <!--[if gte mso 9]>
      <style>
         sup {
         font-size: 100% !important;
         }
      </style>
      <![endif]-->
</head>

<body>
    <!--Navbar Header-->
    <div class="es-wrapper-color">
        <!--[if gte mso 9]>
         <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f6f6f6"></v:fill>
         </v:background>
         <![endif]-->
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="esd-email-paddings" valign="top">
                        <table class="es-content esd-header-popover" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr></tr>
                                <tr>
                                    <td class="es-adaptive esd-stripe" esd-custom-block-id="8589" align="center">
                                        <table class="es-header-body" width="600" cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p15t es-p20b es-p20r es-p20l" style="background-color: rgb(255, 255, 255);" bgcolor="#ffffff" align="left">
                                                        <!--[if mso]>
                                             <table width="560" cellpadding="0" cellspacing="0">
                                                <tr>
                                                   <td width="174" valign="top">
                                                      <![endif]-->
                                                        <table class="es-left" cellspacing="0" cellpadding="0" align="left">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="es-m-p0r esd-container-frame" width="174" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-image es-m-p0l" align="left">
                                                                                        <a href="https://www.threadbeast.com/" target="_blank">
                                                                                            <img src="img/tblogo.png" alt="Threadbeast link" style="display: block;" width="118" title="Threadbeast link" />
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]>
                                                   </td>
                                                   <td width="20"></td>
                                                   <td width="366" valign="top">
                                                      <![endif]-->
                                                        <table cellspacing="0" cellpadding="0" align="right">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="366" align="left">
                                                                        <table style="border-left:2px solid #808080;border-right:2px solid #808080;border-top:2px solid #808080;border-bottom:2px solid #808080;" width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-menu" esd-img-prev-h="16" esd-img-prev-w="16">
                                                                                        <table class="es-menu" width="100%" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr class="links">
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l " style="padding-bottom: 10px; padding-top: 10px; " width="25.00%" bgcolor="#333333" align="center">
                                                                                                        <a target="_blank" style="color: #ffffff;" href="https://www.threadbeast.com/">Home</a>
                                                                                                    </td>
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l " style="padding-bottom: 10px; padding-top: 10px; " width="25.00%" bgcolor="#333333" align="center">
                                                                                                        <a target="_blank" style="color: #ffffff;" href="https://www.threadbeast.com/blog">About</a>
                                                                                                    </td>
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l " style="padding-bottom: 10px; padding-top: 10px; " width="25.00%" bgcolor="#333333" align="center">
                                                                                                        <a target="_blank" style="color: #ffffff;" href="https://my.threadbeast.com/get-started">Subscription</a>
                                                                                                    </td>
                                                                                                    <td class="es-p10t es-p10b es-p5r es-p5l" style="padding-bottom: 10px; padding-top: 10px; " width="25.00%" bgcolor="#333333" align="center">
                                                                                                        <a target="_blank" style="color: #ffffff;" href="https://www.threadbeast.com/faq">FAQ</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--[if mso]>
                                                   </td>
                                                </tr>
                                             </table>
                                             <![endif]-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--End of Navbar Header-->
                        <!--Image Carousel-->
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="8662" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="600" valign="top" align="center">
                                                                        <table style="border-left:2px solid #959595;border-right:2px solid #959595;border-top:2px solid #959595;border-bottom:2px solid #959595;" width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr class="es-visible-amp-html-only">
                                                                                    <td align="center" class="esd-block-amp-carousel">
                                                                                        <amp-carousel id="amp-carousel-4125" width="598" height="598" controls layout="responsive" type="slides">
                                                                                            <div class="slide-1">
                                                                                                <a href="https://threadbeast.com">
                                                                                                    <div>
                                                                                                        <amp-img src="img/clothingtile_O1.jpg" width="1080" height="1080" layout="responsive" alt="Clothing Tile 1" title="Clothing Tile 1">
                                                                                                        </amp-img>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="slide-2">
                                                                                                <a href="https://threadbeast.com">
                                                                                                    <div>
                                                                                                        <amp-img src="img/clothingtile5.jpg" width="1080" height="1080" layout="responsive" alt="Clothing Tile 2" title="Clothing Tile 2">
                                                                                                        </amp-img>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="slide-3">
                                                                                                <a href="https://threadbeast.com">
                                                                                                    <div>
                                                                                                        <amp-img src="img/clothingtile_O3.jpg" width="1080" height="1080" layout="responsive" alt="Clothing Tile 3" title="Clothing Tile 3">
                                                                                                        </amp-img>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </div>
                                                                                        </amp-carousel>
                                                                                        <div class="carousel-preview">
                                                                                            <button on="tap:amp-carousel-4125.goToSlide(index=0)">
                                                                           <amp-img src="img/clothingtile_O1.jpg" width="60" height="40" alt="Clothing Tile 1" title="Clothing Tile 1">
                                                                           </amp-img>
                                                                        </button>
                                                                                            <button on="tap:amp-carousel-4125.goToSlide(index=1)">
                                                                           <amp-img src="img/clothingtile5.jpg" width="60" height="40" alt="Clothing Tile 2" title="Clothing Tile 2">
                                                                           </amp-img>
                                                                        </button>
                                                                                            <button on="tap:amp-carousel-4125.goToSlide(index=2)">
                                                                           <amp-img src="img/clothingtile_O3.jpg" width="60" height="40" alt="Clothing Tile 3" title="Clothing Tile 3">
                                                                           </amp-img>
                                                                        </button>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--End of Image Carousel-->
                        <!--Email Body Information-->
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="600" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" class="esd-block-spacer es-p20">
                                                                                        <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="border-bottom: 1px solid #cccccc; background:none; height:1px; width:100%; margin:0px 0px 0px 0px;">
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p5b" align="center">
                                                                                        <h2>Why ThreadBeast?</h2>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p10r es-m-txt-l" align="left">
                                                                                        <ul>
                                                                                            <li style="color: #333333; line-height: 120%;">
                                                                                                Save money! On average, members save over $900 a year on apparel and accessories with ThreadBeast! We partner with popular brands, allowing us to pass on savings to you! They make great holiday gifts, too!
                                                                                            </li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p10r es-m-txt-l" align="left">
                                                                                        <ul>
                                                                                            <li style="color: #333333; line-height: 120%;">
                                                                                                Save time! We know your time is extremely valuable. No more waiting in lines. Let ThreadBeast save you time by doing the work for you!
                                                                                            </li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="600" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p10r es-m-txt-l" align="left">
                                                                                        <ul>
                                                                                            <li style="color: #333333; line-height: 120%;">
                                                                                                Convenience is key! ThreadBeast takes the headache out of shopping in-store and delivers a package (styled just for you) directly to your doorstep!
                                                                                            </li>
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p20t es-p20r es-p20l" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="560" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-button es-p10b es-m-txt-c" align="center">
                                                                                        <span class="es-button-border" style="background: rgb(51, 51, 51); border-radius: 8px;">
                                                                     <a href="https://my.threadbeast.com/get-started/"
                                                                        class="es-button"
                                                                        target="_blank"
                                                                        style="background: rgb(51, 51, 51); border-color: rgb(51, 51, 51); color: rgb(255, 255, 255); border-radius: 8px; font-weight: bold;">Let's
                                                                     Get Started!</a>
                                                                     </span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--End of Email Body Information-->
                        <!--Social Media Icons-->
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body" style="background-color: rgb(255, 255, 255);" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p20t es-p20b es-p20r es-p20l" align="left">
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="560" align="left">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-social es-p5t es-m-txt-c" align="center">
                                                                                        <table class="es-table-not-adapt es-social" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="es-p10r" valign="top" align="center">
                                                                                                        <a target="_blank" href="https://www.facebook.com/threadbeast">
                                                                                                            <img title="Facebook" src="https://fkwwkr.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png" alt="Fb" width="32" />
                                                                                                        </a>
                                                                                                    </td>
                                                                                                    <td valign="top" align="center">
                                                                                                        <a target="_blank" href="http://instagram.com/threadbeast">
                                                                                                            <img title="Instagram" src="https://fkwwkr.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png" alt="Inst" width="32" />
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--End of Social Media Icons-->
                        <!--Footer-->
                        <table class="es-footer esd-footer-popover" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-footer-body" width="600" cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p20t es-p20b es-p20r es-p20l" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="560" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text" align="center">
                                                                                        <p>
                                                                                            ThreadBeast Inc. PO Box 461791 Los Angeles, CA 90046
                                                                                        </p>
                                                                                        <p>
                                                                                            <a target="_blank" href="https://www.threadbeast.com/contact-us">Unsubscribe
                                                                        from our
                                                                        emails</a>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--End of Footer-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>